<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User to enable</h1>
<table style="border: 1px solid;">
    <tr>
        <th>username</th>
        <th>firstname</th>
        <th>Enable</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.firstname}"></td>
        <th><a th:href="@{'/admin/enable/' + x${user.id}}" >Enable me</a></th>
        <th></th>

    </tr>
</table>
</body>
</html>