<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Mercredi</title>
    <span th:replace="layouts/head :: head"></span>
</head>
<body>
    <span th:replace="layouts/navbar :: user_navbar"></span>
    <div data-th-if="${param.error!= null}" class="alert alert-danger fade show alert-dismissible" role="alert" data-mdb-color="danger" id="customError" bis_skin_checked="1">
        <strong>Erreur</strong>
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
    <div data-th-if="${param.success!= null}" class="alert alert-success fade show alert-dismissible" role="alert" data-mdb-color="success" id="customSuccess" bis_skin_checked="1">
        <strong>Success</strong>
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container">

        <h1 class="pt-5">All Mercredi</h1>

        <table class="table table-striped table-sm align-middle">
            <thead>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>Nombre de participant</th>
                <th>Status</th>
                <th>Responsable</th>
                <th>Action</th>
            </tr>
            <thead>
            <tbody>
            <tr th:each="mercredi : ${mercredis}">
                <td th:utext="${mercredi.id}"></td>
                <td th:utext="${mercredi.date}"></td>
                <td th:utext="${mercredi.presents.size}"></td>
                <td>
                    <span
                            data-th-if="${mercredi.mercrediAnnule != true}"
                            class="badge fa-sm badge-success rounded-pill d-inline"
                            id="pasannuler">
                        On going
                    </span>
                    <span data-th-if="${mercredi.mercrediAnnule == true}"
                       class="badge fa-sm badge-secondary  rounded-pill d-inline"
                       id="annuler" >
                        Cancel
                    </span>
                </td>
                <td >
                    <span th:if="${mercredi.responsable != null}"
                          th:text="${mercredi.responsable.firstname+' '+mercredi.responsable.lastname}"  >
                        Responsable
                    </span>
                    <span th:if="${mercredi.responsable== null}">
                        <span th:if="${mercredi.mercrediAnnule != true}">

                            <a th:href="${'/user/responsable/'+mercredi.id}" id="beManager">
                                <button type="button" class="btn btn-success">Devenir le responsable</button>
                            </a>
                        </span>
                        <span th:if="${mercredi.mercrediAnnule == true}">
                                Aucun Responsable
                        </span>
                    </span>

                </td>
                <td>
                    <a th:if="${mercredi.containUserByUsername(#authentication.getPrincipal().getUsername()) != true}"
                       th:href="${'/user/subscribe/'+mercredi.id}" id="inscrire">
                        <button type="button" class="btn btn-success">subscribe</button>
                    </a>
                    <a th:if="${mercredi.containUserByUsername(#authentication.getPrincipal().getUsername()) == true}"
                       th:href="${'/user/unsubscribe/'+mercredi.id}" id="desinscrire">
                        <button type="button" class="btn btn-warning">unsubscribe</button>
                    </a>
                </td>
            </tr>
            <tbody>
        </table>
    </div>

    <span th:replace="layouts/foot :: foot"></span>
</body>
</html>