<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <span th:replace="layouts/head :: head"></span>
</head>
<body>
    <span th:replace="layouts/navbar :: user_navbar"></span>
    User home page</br>
    first  name :<span th:text ="${#authentication.getPrincipal().getFirstName()}"></span></br>
    Role  :<div sec:authentication="principal.authorities"></div>
    <span th:replace="layouts/foot :: foot"></span>
</body>
</html>