<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <span th:replace="layouts/head :: head"></span>
    <title>Profil</title>
</head>
<body>
    <!-- navbar -->
    <div sec:authorize="isAuthenticated()">
        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <span th:replace="layouts/navbar :: admin_navbar"></span>
        </div>
        <div sec:authorize="hasAuthority('ROLE_USER')">
            <span th:replace="layouts/navbar :: user_navbar"></span>
        </div>
    </div>

    <div data-th-if="${param.success!= null}" class="alert  alert-success fade show alert-dismissible" role="alert" data-mdb-color="success" id="customxD" bis_skin_checked="1">
        <strong>L'utilisateur est modifié </strong>
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container py-5 h-100 w-50">
        <form name="f" th:action="@{/updateUser}" method="post" th:object="${user}" novalidate>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input th:field="*{firstname}" type="text" id="form3Example1" class="form-control" />
                        <div class="erreur" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">firstname
                            Error</div>
                        <label class="form-label" for="form3Example1">First name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input th:field="*{lastname}" type="text" id="form3Example2" class="form-control" />
                        <div class="erreur" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">lastname
                            Error</div>
                        <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input th:field="*{email}" type="email" id="form3Example3" class="form-control" />
                <div class="erreur" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email
                    Error</div>
                <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <!-- Username input -->
            <div class="form-outline mb-4">
                <input th:field="*{username}" type="text" id="form3Example4" class="form-control" disabled/>
                <input th:field="*{username}" type="text" id="form3Exampl" class="form-control" hidden/>
                <div class="erreur" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username
                    Error</div>
                <label class="form-label" for="form3Example4">username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input th:field="*{password}" type="text" id="form3Example5" class="form-control" />
                <div class="erreur" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
                    Error</div>
                <label class="form-label" for="form3Example5">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Mettre à jour</button>

        </form>
    </div>

    <span th:replace="layouts/foot :: foot"></span>
</body>
</html>